<div class="container-fluid bg-legion-blue min-vh-100 d-flex flex-column align-items-center text-center p-0">

    <!-- Login content -->
    <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 w-100">
    
        <!-- Logo -->
        <img src="/Logos/legion_seal.png" alt="TAMU Legion Seal" class="mb-4" width="120">

        <!-- Page Heading -->
        <h1 class="display-4 mb-0 font-primary-title text-white">Guest Area</h1>
        <p class="lead mb-5 font-secondary-subheading text-white">Please sign in with your tamu.edu account.</p>

        <!-- Google Sign-In Button -->
        <%= button_to user_google_oauth2_omniauth_authorize_path, 
            method: :post,  data: { turbo: false }, 
            class: "btn btn-lg px-5 py-3 mb-0 white-btn-login default-border-radius" do %>
                Sign in with Google
        <% end %>

        <!-- Not Registered? Link -->
        <p class="mt-4 font-secondary-subheading text-white"> Not Registered? 
            <%= link_to "Click Here", contact_path, class: "text-gold text-decoration-none text-decoration-underline" %>
        </p>

    </div>
</div>
